<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include 'dashboard/nav.html' %}
    <!-- <h1>{{ user }}</h1>
    <h2>{{ role }}</h2> -->

    <div class="container border mt-4">
        
        {% if role == 'CDPO' %}

        <h2>Name: <strong>{{ request.session.username }}</strong></h2>
        <h2>Profile: <strong>{{ role }}</strong></h2>
        {% endif %}

        {% if role == 'Supervisor' %}
        <h2>Supervisor role</h2>
        {% endif %}

        {% if role == 'AWW' %}
        <!-- <h2>AWW role</h2> -->
        <div class="container">
            <div class="row">
                <div class="col text-center p-2">
                    <div class="container p-2 border d-grid">
                        <button class="btn btn-primary m-2" onclick="putForm('AddData')">Add Data</button><br>
                        <button class="btn btn-primary m-2" onclick="putForm('UpdateData')">Update Households Data</button><br>
                        <button class="btn btn-primary m-2" onclick="putForm('EditAwc')">Edit AWC Location/Polygon</button><br>
                        <button class="btn btn-primary m-2" onclick="gotoMap()">Map Interface</button><br>
                        <button class="btn btn-primary m-2" onclick="putForm('Messages')">Messages</button><br>
                        <button class="btn btn-primary m-2" onclick="putForm('Queries')">Send Queries</button>
                    </div>
                </div>
                <div class="col text-center p-2">
                    <div class="container border addData" id="AddData" style="background-color:aqua; height: 500px; overflow-y: scroll; display: none;">
                        <div class="addData text-center container">
                            <form action="">
                                <input type="text" class="form-control mt-2 mb-2" placeholder="Number of houses">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Population">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of Males">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of Females">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of Pregnant Women">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of Lactating Women">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of Children">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Daily Count">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Food Consume Total">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Daily Consume">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Food Consume by Pregnant Women">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Food Consume by Lactating Women">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Contact">
                                <button class="btn btn-success mb-2">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="container border" id="UpdateData" style="background-color:blueviolet; height: 500px; overflow-y: scroll; display: none;">
                        <div class="addData">
                            <button class="btn btn-primary mt-1" onclick="putForm('AddHH')">Add Household</button>
                            <ul style="list-style-type: none;">
                                {% for i in data %}
                                <li class="border m-1"><h5><span style="float: left;">HH - {{ i.fid }}</span><span style="float:right;"><i class="fa fa-edit mx-2" onclick="putForm('AddHH')"></i><i class="fa fa-trash mx-2" onclick="putForm('AddHH')"></i></span></h5><br></li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                    <div class="container border" id="EditAwc" style="background-color:aqua; height: 500px; overflow-y: scroll; display: none;">
                        <div class="addData text-center container">
                            <form action="">
                                <input type="text" class="form-control mt-2 mb-2" placeholder="State">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Region">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="District">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Prabhag No">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Beat No">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Area ID">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Anganwadi ID">
                                <label for="" class="form-label"><b>AWC Location:</b> </label><br><button class="btn btn-primary mb-2">Present Location</button> <b>/</b> <button class="btn btn-primary mb-2">Locate From Map</button><br>

                                <button class="btn btn-success mb-2">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="container border" id="AddHH" style="background-color:aqua; height: 500px; overflow-y: scroll; display: none;">
                        <div class="addData text-center container">
                            <form action="">
                                <input type="text" class="form-control mt-2 mb-2" placeholder="HH id">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="No of members">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Children">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Pregnant">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Lactating">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="0-6 years">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="6-11 years">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="11-18 years">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Males">
                                <input type="text" class="form-control mt-2 mb-2" name="" id="" placeholder="Females">
                                <label for="" class="form-label"><b>HH Location:</b> </label><br><button class="btn btn-primary mb-2">Present Location</button> <b>/</b> <button class="btn btn-primary mb-2">Locate From Map</button><br>

                                <button class="btn btn-success mb-2">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="container border" id="Queries" style="background-color:aqua; height: 500px; bottom: 0; display: none;">
                        <div class="messages m-2" style="height: 80%; background-color:blue; border-radius: 5px; overflow-y: scroll;">
                            <div>
                                <ul style="list-style-type: none;padding: 0;">
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    <li class="border m-1"><h5>Query 1</h5></li>
                                    
                                </ul>

                            </div>
                        </div>
                        <div class="text-center container p-0">
                            <form action="" class="row g-3">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Message" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                    <div class="container border" id="Messages" style="background-color:aqua; max-height: 500px; display: none; overflow-y: scroll;">
                        
                            <ul style="list-style-type: none;padding: 0;">
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                <li class="border m-1"><h5>Query 1</h5></li>
                                
                            </ul>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


    <script>
        var arr = []
        function putForm(cn){
            // console.log(cn)
            arr.push(cn);
            if(arr.length >1){
                document.getElementById(arr[0]).style.display = 'none';
                arr.splice(0,1);
            }
            document.getElementById(arr[arr.length-1]).style.display = 'block';
        }

        function gotoMap(){
            location.href = "{% url 'aww_map' %}";
        }


    </script>


</body>
</html>
