{% extends 'base.html' %}
{% load static%}
{% block content %}

<style>

label{
    font-size: 15px; 
    

}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}


#checkboxes1 {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes1 label {
  display: block;
}

#checkboxes1 label:hover {
  background-color: #1e90ff;
}
#ward122 {
  display: none;
  border: 1px #dadada solid;
}

#ward122 label {
  display: block;
}
#wardSdiv {
  display: none;
  border: 1px #dadada solid;
}

#wardSdiv label {
  display: block;
}
#wardLdiv {
  display: none;
  border: 1px #dadada solid;
}

#wardLdiv label {
  display: block;
}
.border {
        padding: 6px 8px;
        border-style: groove;
        border-radius: 5px;
        margin: 20px;
        
    }
    
    
    table,
    th,
    td {
        border-bottom: 1px solid #ddd;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
    
    th {
        font-weight: bold;
    }
    
    tr:hover {
        background-color: #c9dbe6;
    }

    
    .table {
        border-collapse: collapse;
        padding: 50px;
        font-weight: bold;
        /* background:rgba(191, 149, 233, 0.473); */
    }
    /* css to customize Leaflet default styles  */
    
    .leaflet-popup-content-wrapper {
        background: rgba(0, 0, 0, 0.9);
        color: #ffffff;
    }
    
    .leaflet-popup-content {
        font-weight: bold;
    }
    
    h6 {
        color: blue;
    }
    
</style>

<div id="side-bar" style="background-color: rgba(255, 255, 255);">                <!-- Main container -->

  <div class="border">
    <table>
        <tr>
            <h6>Mumbai Ward Boundaries</h6>
        </tr>
        <div class="text-center">
            <div class="checkbox" id="boundary">
                <tr>
                    <tb> <label><input type="checkbox" value="{corporator}" onchange="getWard(this)"></tb><tb><span> Corporator Wards </span></label></tb>
                </tr>
            </div>
            <div class="checkbox" id="boundary">
              <tr>
                <tb><label><input type="checkbox" value="{admin}" onchange="getWard(this)"></label></tb><tb><span> Admin Wards </span></label></tb>
              </tr>  
            </div>
         </div>
      </table>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    <div class="tooltips" title="Please select District">
      <h6>Mumbai</h6>
        <select class='form-control' id="indstate" name="indstate">
            <option value="All">Select District</option>
            <!-- <optgroup label="District">  -->
              <option value="Mumbai City">Mumbai: Mumbai City</option>

                <option value="Mumbai Suburban">Mumbai: Mumbai Suburban</option>
                
    
          </select> 
     </div>  
         &nbsp;&nbsp;&nbsp;&nbsp;

         <div class="tooltips" style="display:none;" title="Please select the Maharashtra's Blocks" id="mumsubwards">

            <label for="S">
                <input type="checkbox" id="wardS" value="S" onclick="ViewWards(this)" />Ward S</label>
              <div id ="wardSdiv">
                <label for="iitb">
                  <input type="checkbox" id="Sward" value="iitb" onchange="getWard(this)" disabled/>&emsp;IITB</label>
                <label for="ward122">
                  <input type="checkbox" id="Sward" value="ward122" onchange="getWard(this)"/>Ward 122</label>
                <label for="zones">
                  <input type="checkbox" id="Sward" value="zones" onchange="getWard(this)"/>Zones</label>
                <label for="122_plastic">
                  <input type="checkbox" id="Sward" value="buildings" onchange="getWard(this)"/>Building Cluster </label>
                    <!-- <label for="building"><p><b>Building</b></p></label> -->

                <label for="122_plastic">
                  <input type="checkbox" id="Sward" value="122_plastic" onchange="getWard(this)"/>Building Collecting Plastic</label>
                <!-- <label for="122_buildings2-7">
                  <input type="checkbox" id="Sward" value="122_buildings2-7" onchange="getWard(this)"/>Buildings 2 to 7</label>
                <label for="122_buildings8-9">
                  <input type="checkbox" id="Sward" value="122_buildings8-9" onchange="getWard(this)"/>Buildings 8 and 9</label> -->
                
                <label for="bubbles">
                    <input type="checkbox" id="Sward" value="bubbles" onchange="getWard(this)"/>Wings</label>
                <!-- <label for="spots">
                    <input type="checkbox" id="Sward" value="spots" onchange="getWard(this)" disabled/>Spots</label>
                    <label for="wings">
                      <input type="checkbox" id="Sward" value="wings" onchange="getWard(this)" disabled/>Wings</label> -->
                      <label for="floors">
                        <input type="checkbox" id="Sward" value="floors" onchange="getWard(this)" disabled/>Floors</label>
                        <label for="flats">
                          <input type="checkbox" id="Sward" value="flats" onchange="getWard(this)" disabled/>Flats</label>
                                            
                </div>
              <br>
              <a href="https://swk.communitygis.net/map/"><u>GS Ward(Worli -Koliwada) Waste Management</u></a>                                                                                                                             
                <br>
                <br>
              <label for="L">
                <input type="checkbox" id="wardL" value="L" onclick="ViewWards(this)" />Ward L</label>
                  <br>
                <div id ="wardLdiv">
                  <label for="L">
                    <input type="checkbox" id="Lward" value="Lwardroads" onchange="getWard(this)"/>Roads</label>
                    <br>
                    <label for="L">
                      <input type="checkbox" id="Lward" value="Lzones" onchange="getWard(this)"/>Zones</label>
                    <br>
                      <label for="L">
                      <input type="checkbox" id="Lward" value="Lbuildings" onchange="getWard(this)"/>Raheja Buildings </label>
                </div>

                <br>
              <a href="https://ee.humanitarianresponse.info/x/xsUkgeZ7"><u>Greenness SWM</u></a>                                                                                                                             
                <br>
                    <br>
                      <label for="H">
                <input type="checkbox" id="" value="" onchange="" disabled/>Ward H EAST</label>
                <br>
                <label for="H">
                  <input type="checkbox" id="" value="" onchange="" disabled/>Ward H WEST</label>
                <br>
                
                <label for="H">
                  <input type="checkbox" id="" value="" onchange="" disabled/>Ward K EAST</label>
                  <br>
                  <label for="H">
                    <input type="checkbox" id="" value="" onchange="" disabled/>Ward K WEST</label>
                    <br>
                    
                    <label for="H">
                      <input type="checkbox" id="" value="" onchange="" disabled/>Ward M WEST</label>
                    <br>
                    <label for="H">
                      <input type="checkbox" id="" value="" onchange="" disabled/>Ward M EAST</label>
                      <br>
                      
                      <label for="H">
                        <input type="checkbox" id="" value="" onchange="" disabled/>Ward P NORTH</label>
                      <br>
                      <label for="H">
                        <input type="checkbox" id="" value="" onchange="" disabled/>Ward P SOUTH</label>
                        <br>
                        
                        <label for="R">
                          <input type="checkbox" id="" value="" onchange="" disabled/>Ward R NORTH</label>
                        <br>
                        <label for="R">
                          <input type="checkbox" id="" value="" onchange="" disabled/>Ward R SOUTH</label>
                          <br>
                        <label for="R">
                          <input type="checkbox" id="" value="" onchange="" disabled/>Ward R CENTRAL</label>
                        <br>                          
                          
                        <label for="T">
                          <input type="checkbox" id="" value="" onchange="" disabled/>Ward T</label>
                          <br>
                        <label for="N">
                          <input type="checkbox" id="" value="" onchange="" disabled/>Ward N</label>
            </div>

              <div class="tooltips">    
                <div class="field_wrapper arrange" id="mumbaiCity" style="display:none;">
                   <!-- <hr> -->
                    <div>            
                        <br> 
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                              <select>
                                <option>Select Wards</option>
                              </select>
                              <div class="overSelect"></div>
                            </div>
                            <div class="tooltips" id="checkboxes">
                              
                              <!-- <label><b><input type="checkbox" id="Mumbai City" value="Mumbai City" onchange="getWard(this)" />Mumbai City</b></label> -->
                              <label for="A">
                                <input type="checkbox" id="ward" value="A" onchange="getWard(this)" />Ward A</label>
                              <label for="B">
                                <input type="checkbox" id="ward" value="B" onchange="getWard(this)" />Ward B</label>
                              <label for="C">
                                <input type="checkbox" id="ward" value="C" onchange="getWard(this)" />Ward C</label>
                              <label for="D">
                                <input type="checkbox" id="ward" value="D" onchange="getWard(this)" />Ward D</label>
                              <label for="E">
                                <input type="checkbox" id="ward" value="E" onchange="getWard(this)" />Ward E</label>
                              <label for="FN">
                                <input type="checkbox" id="ward" value="FN" onchange="getWard(this)" />Ward FN</label>
                              <label for="FS">
                                <input type="checkbox" id="ward" value="FS" onchange="getWard(this)" />Ward FS</label>
                              <label for="GN">
                                <input type="checkbox" id="ward" value="GN" onchange="getWard(this)" />Ward GN</label>
                              <label for="GS">
                                <input type="checkbox" id="ward" value="GS" onchange="getWard(this)" />Ward GS</label>
                              <!-- <hr> -->
                              <!-- <label><b><input type="checkbox" id="suburban" value="suburban" onchange="getWard(this)" /> SubUrban District</b></label> -->
                              <!-- <label for="S">
                                <input type="checkbox" id="wardS" value="S" onchange="ViewWards(this)" />Ward S</label>
                              <div id ="wardSdiv">
                                <label for="ward122">
                                  <input type="checkbox" id="Sward" value="ward122" onchange="getWard(this)"/>&emsp;Ward 122</label>
                                <label for="122_plastic">
                                  <input type="checkbox" id="Sward" value="122_plastic" onchange="getWard(this)"/>Building Collecting Plastic</label>
                                <label for="122_buildings2-7">
                                  <input type="checkbox" id="Sward" value="122_buildings2-7" onchange="getWard(this)"/>Buildings 2 to 7</label>
                                <label for="122_buildings8-9">
                                  <input type="checkbox" id="Sward" value="122_buildings8-9" onchange="getWard(this)"/>Buildings 8 and 9</label>
                              </div>  -->
                              <!-- <a href="https://swk.communitygis.net/map/">GS Ward(Worli -Koliwada) Waste Management</a>                                                                                                                               -->
                              </div>
                          </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;
                          
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes1()">
                              <select>
                                <option>Select Layers</option>
                              </select>
                              <div class="overSelect"></div>
                            </div>
                            <div class="tooltips" id="checkboxes1">
                              
                              <label><b>OSM Data</b></label>
                              <label for="building">
                                <input type="checkbox" id="facility" value="building" onchange="getFacility(this)" />Buildings</label>
                              <label for="roads">
                                <input type="checkbox" id="facility" value="roads" onchange="getFacility(this)" />Roads</label>
                              
                              <label><b>DP Polygons</b></label>  
                              <label for="education">
                                <input type="checkbox" id="facility" value="education" onchange="getFacility(this)" />Education</label>
                              <label for="health">
                                <input type="checkbox" id="facility" value="health" onchange="getFacility(this)" />Health</label>
                              <label for="housing">
                                <input type="checkbox" id="facility" value="housing" onchange="getFacility(this)" />Housing</label>
                              <label for="municipal_services">
                                <input type="checkbox" id="facility" value="municipal_services" onchange="getFacility(this)" />Municipal Services</label>
                              <label for="offices">
                                <input type="checkbox" id="facility" value="offices" onchange="getFacility(this)" />Offices</label>
                                <label for="open_spaces">
                                <input type="checkbox" id="facility" value="open_spaces" onchange="getFacility(this)" />Open Spaces</label>
                              <label for="primary_activities">
                                <input type="checkbox" id="facility" value="primary_activities" onchange="getFacility(this)" />Primary Activities</label>
                              <label for="public_utility_and_facilities">
                                <input type="checkbox" id="facility" value="public_utility_and_facilities" onchange="getFacility(this)" />Public utility and facilities</label>
                              <label for="social_amenities">
                                <input type="checkbox" id="facility" value="social_amenities" onchange="getFacility(this)" />Social Amenities</label>
                              <label for="transportation">
                                <input type="checkbox" id="facility" value="transportation" onchange="getFacility(this)" />Transportation</label>
                              <label for="waste_management">
                                  <input type="checkbox" id="facility" value="waste_management" onchange="getFacility(this)" disabled/>Waste Management</label>
                                
                              <label for="fire_station">
                                <input type="checkbox" id="facility" value="fire_station" onchange="getFacility(this)" disabled/>Fire Station</label>
                                                                              
                              </div>
                          </div>
                          </div>
                          &nbsp;&nbsp;
                          
                          <!-- <div>
                          <a href="https://swk.communitygis.net/map/"><b>GS Ward Waste Management</b></a>
                        </div> -->
            <!--               
                            <div id = 'selectedata'></div>
                            <button class = 'btn btn-success' onclick="showLayers()">Show Layers</button>
                            <button class = 'btn btn-danger'onclick="clearAllLayers()">Clear All Layers</button>
                 -->
            <!-- 
                        <select class='form-control' id="amenities" >
                            <option>Select Themes</option>
              
                            <option>Ward Boundaries</option>
                            <option>DP Polygon</option>
                            <option>OSM Roads</option>
                            <option >Building Footprints</option>
                            <option>Admin Boundaries</option>
                            
                          </select>
             -->
                          &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="tooltips" style="display:none;" title="Please select facility" id="A">
                        
                        <tr><tb>  <label><input type="checkbox" value="{transport}" onchange="getBoundary(this)"></tb><tb><span> transportation </span></label></tb>
                                            </tr> &nbsp;&nbsp;
                                            <tr>
                                                <tb> <label><input type="checkbox" value="{edu}" onchange="getBoundary(this)"></tb><tb><span> education </span></label></tb>
                                            </tr>
            
                                        </div>
            </div>
            </div>
        </div>    
    </div>
  </div>
<div id="output"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'js/jquery.multiselect.js'%}"></script>

<script>  
$(document).ready(function() {

//  $('#indstate').on('change', function() {
//    if (this.value == 'Chhattisgarh'){
//        $("#block").hide();
//    }

// });
//console.log("hi",indstate);

$('#indstate').on('change', function() {
    //$("#block").show();
    // var state=document.getElementById("indstate");
    // console.log(state);
    if (this.value == 'Mumbai City') {
        putLayer("Mumbai");
        $("#mumbaiCity").show();
        $("#mumsubwards").hide();
        // removewards();

        // $("#block").hide();
    } else if (this.value == 'Mumbai Suburban') {
        putLayer("Mumbai Suburban");
        $("#mumbaiCity").hide();
        $("#mumsubwards").show();
        // $("#block").hide();
    }
    // } else if (indstate == "Chhattisgarh") {

    //     $("#block").hide();

    // } else {
    //     $("#mumwards").hide();
    //     $("#mumsubwards").hide();
    //     $("#block").show();

    // }
});

$('#view_s').on('change', function() { 
    if (this.value == 'All India View') {
        mymap.setView([20.5937, 78.9629], 4);
        $("#indiaview").show();
        $("#navigatedarea").hide();

        distLayerList.forEach(l => {
            mymap.removeLayer(l);
        })

        pinLayerList.forEach(l => {
            mymap.removeLayer(l);
        })

        if (area) {
            mymap.removeLayer(area);
        }
        clear_layer();
        clearpoint_layer();
        removeWFSfac();
        removeKoboHealthFacity();
        removeKoboHealthFacitywms(facility);
        clear_distlayer();
        clear_pinlayer();

    } else if (this.value == 'Navigated Area View') {
        wmshealthLayerList.forEach(l => {
            mymap.removeLayer(l);
        })


        $("#indiaview").hide();
        $("#navigatedarea").show();
        clear_layer();
        clearpoint_layer();
        removeWFSfac();
        removeKoboHealthFacity();
        removeKoboHealthFacitywms(facility);
        clear_distlayer();
        clear_pinlayer();
    }

});
});




      const domain = ['https://geoserver2.communitygis.net/', 'http://localhost/'];
        var rootUrl = domain[0] + 'geoserver/geonode/ows';

        var defaultParameters = {
            service: 'WFS',
            version: '1.0.0',
            request: 'GetFeature',
            outputFormat: 'json'
        };
        var newLayerList=[];
        var wardLayerList = [];
        var wms_legend;
        let activatedHealthFacility={};
        
        
        // $('select[multiple]').multiselect();
var expanded = false;

// function removewards() {
//     wardLayerList.forEach(layer => mymap.removeLayer(layer));
// }

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  console.log(checkboxes);
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

function showCheckboxes1() {
  var checkboxes1 = document.getElementById("checkboxes1");
  if (!expanded) {
    checkboxes1.style.display = "block";
    expanded = true;
  } else {
    checkboxes1.style.display = "none";
    expanded = false;
  }
}
function ViewWards(obj) {
  // alert(obj.value)
  if(obj.value == 'S'){
    var checkboxes1 = document.getElementById("wardSdiv");
    var checkbox = document.getElementById("Sward")
    layer = 'WARD-S:s_ward';
    currentPos = [19.126,72.9296];
  }
  if(obj.value == 'L'){
    var checkboxes1 = document.getElementById("wardLdiv");
    var checkbox = document.getElementById("Lward")
    layer = 'geonode:L_ward_polygons_16Apr2020'
    currentPos = [19.0959,72.8933];
  }
  if(checkboxes1.style.display == "block")
    expanded = true;
  else  
    expanded = false;

    // alert(expanded);

  if (!expanded) {
    // alert(checkboxes1.style.display);
    // alert(checkbox.style.display);
    checkboxes1.style.display = "block";
    checkbox.style.display ="block";
    expanded = true;
    // layer = 'WARD-S:s_ward';
    // removeWards1(layer);
    // alert(layer);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        // layers: 'geonode:island_city_revised_2_july',
        layers: layer,
        format: 'image/png',
        transparent: 'true',
        //cql_filter: `Name='${opt}'`,
                                             
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);
    console.log(newLayerList);
    // mymap.setView([19.126,72.9296],13)
    mymap.setView(currentPos, 13)
    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);
  } else {
    checkboxes1.style.display = "none";
    checkbox.style.display ="none";
    expanded = false;
    
  }
  
 
  
}

function getWard(obj) {
    let ward = obj.value;
    console.log(ward);
    // alert("obj is-"+obj.value)
    
    if ($(obj).is(":checked")) {
      // alert("Ward selected is",ward);
        if (ward == "A"){
            // var layer = {layer};
            // console.log(layer);
            putWards("A")                                                                                       
        }
        else if (ward == "B")
          putWards("B")
        else if (ward == "C")
          putWards("C")  
        else if (ward == "D")
          putWards("D")  
        else if (ward == "E")
          putWards("E")  
        else if (ward == "FN")
          putWards("F/N")     //use "FN" for islandcity layer
        else if (ward == "FS")
          putWards("F/S")  
        else if (ward == "GN")
          putWards("G/N")  
        else if (ward == "GS")
          putWards("G/S")   
        else if (ward == "{corporator}")
          putCorpWards("{corporator}")  
        else if (ward == "{admin}")
          putAdminWards("{admin}")
        else if (ward == "ward122")
          putWards122("ward122")
        else if (ward == "122_plastic")
          putWards122("122_plastic")
        // else if (ward == "122_buildings2-7")
        //   putWards122("122_buildings2-7")
        // else if (ward == "122_buildings8-9")
        //   putWards122("122_buildings8-9")
        else if (ward == "zones")
          putWards122("zones")
        else if (ward == "buildings")
          putWards122("buildings")
        else if (ward == "bubbles")
          putWards122("bubbles")
        else if (ward == "spots")
          putWards122("spots")
        else if (ward == "Lwardroads")
          putWards122("Lwardroads")
        else if (ward == "Lzones")
          putWards122("Lzones") 
        else if (ward == "Lbuildings")
          putWards122("Lbuildings")   

        // else if(ward == "city"){
        //   putLayer("Mumbai");
        //   // mymap.setView([19.1538,72.8752],14)
        //   removeWards("Mumbai Suburban");
        // }                             
        // else if(ward == "suburban"){
        //   putLayer("Mumbai Suburban");
        //   removeWards("Mumbai");
        // }   
                
    } else {
        if (ward == "A"){
          removeWards("A")
        }  
          else if (ward == "B")
          removeWards("B")
        else if (ward == "C")
          removeWards("C")
        else if (ward == "D")
          removeWards("D")
        else if (ward == "E")
          removeWards("E")
        else if (ward == "FN")
          removeWards("F/N")
        else if (ward == "FS")
          removeWards("F/S")
        else if (ward == "GN")
          removeWards("G/N")
        else if (ward == "GS")
          removeWards("G/S")
        else if (ward == "{corporator}")
          removeLayer("geonode:corporatorwardboundary_mumbai_13may")
        else if (ward == "{admin}")
          removeLayer("geonode:mumbai_ward_boundary")
        else if (ward == 'ward122')
          removeLayer("WARD-S:ward_122_16sept2021")
        else if (ward == "122_plastic")
          removeLayer("WARD-S:ward_122_building_collecting_plastic")
        // else if (ward == "122_buildings2-7")
        //   removeLayer("WARD-S:ward_122_2-7Buildings")
        // else if (ward == "122_buildings8-9")
        //   removeLayer("WARD-S:122_buildings8-9")
        else if (ward == "buildings")
          removeLayer("WARD-S:buildings")  
        else if (ward == "zones")
          removeLayer("WARD-S:zones") 
        else if (ward == "bubbles")
          removeLayer("WARD-S:bubbles") 
        else if (ward == "spots")
          removeLayer("WARD-S:spots")
        else if (ward == "Lwardroads")
          removeLayer("Lwardroads")
        else if (ward == "Lzones")
          removeLayer("Lzones") 
        else if (ward == "Lbuildings")
          removeLayer("Lbuildings") 
          
      }
      
}


function getFacility(obj) {
mymap.setView([19.0110, 72.8512], 12);
  let facility = obj.value;
  console.log(facility);
  if ($(obj).is(":checked")) {
      if(facility =="building")
        putFacility1("building")
      else if (facility == "roads")
        putFacility2("roads")  
      else if (facility == "education"){
          // var layer = {layer};
          // console.log(layer);
          
          putFacility("education")                                                                                       
      }
      else if (facility == "health")
        putFacility("health")
      else if (facility == "housing")
        putFacility("housing")  
      else if (facility == "municipal_services")
        putFacility("municipal_services")
      else if (facility == "offices")
        putFacility("offices")
      else if (facility == "open_spaces")
        putFacility("open_spaces")
      else if (facility == "primary_activities")
        putFacility("primary_activities")
      else if (facility == "public_utility_and_facilities")
        putFacility("public_utility_and_facilities")
      else if (facility == "social_amenities")
        putFacility("social_amenities")
      else if (facility == "transportation")
        putFacility("transportation")
      else if (facility == "fire_station")
        putFacility("fire_station")                                    
        
  } else {
      if (facility == "education")
        removeFacility("education")
      
        else if (facility == "health")
        removeFacility("health")
      else if (facility == "housing")
        removeFacility("housing")  
      else if (facility == "municipal_services")
        removeFacility("municipal_services")
      else if (facility == "offices")
        removeFacility("offices")
      else if (facility == "open_spaces")
        removeFacility("open_spaces")
      else if (facility == "primary_activities")
        removeFacility("primary_activities")
      else if (facility == "public_utility_and_facilities")
        removeFacility("public_utility_and_facilities")
      else if (facility == "social_amenities")
        removeFacility("social_amenities")
      else if (facility == "transportation")
        removeFacility("transportation")
      else if (facility == "fire_station")
        removeWards1("fire_station")
      else if (facility == "building")
        removeLayer("geonode:osm_building_islandcity_14june") 
      else if (facility == "roads")
        removeLayer("geonode:osm_road_islandcity_14june")      
    }
}
function putWards(opt) {
    // var district = document.getElementById("district").value;
    console.log("putward",opt);
    
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        // layers: 'geonode:island_city_revised_2_july',
        layers: 'geonode:mumbai_ward_boundary',
        format: 'image/png',
        transparent: 'true',
        cql_filter: `Name='${opt}'`,
        // cql_filter: `ward_name='${opt}'`,
        // cql_filter: `${facility}>0.0 AND state_gen='${indstate}'`                                        
        // cql_filter: `district_n=${district}`,                                        
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);
    mymap.setView([19.0110, 72.8512], 12);
    console.log(newLayerList);
    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);

    //console.log(wms_legend); 
    // addWMSLegend(layer);
    // TRIBLAYER = "https://geoserver2.communitygis.net/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;
    // // console.log(TRIBLAYER);

}

function putLayer(opt) {
    // var district = document.getElementById("district").value;
    console.log("putlayer",opt);
    mymap.setView([19.0110, 72.8512], 12);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        // layers: 'geonode:island_city_revised_2_july',
        layers: 'geonode:maha_taluka_13march2021',
        format: 'image/png',
        transparent: 'true',
        cql_filter: `distname='${opt}'`,
        
    });
    wms_layer.addTo(mymap);
    wardLayerList.push(wms_layer);
    console.log(wms_layer);
    if(opt == 'Mumbai')
      mymap.setView([19.0110, 72.8512], 12);
      
    else
      mymap.setView([19.1186, 72.8064], 12);
}



function putWards122(opt) {
    // var district = document.getElementById("district").value;
    // console.log("putward122 is : "+opt);
    // mymap.setView([19.1176, 72.9060],11);
    let ward = opt;
      
    if(ward == 'ward122'){
      layer = "WARD-S:ward_122_16sept2021"
      currentPos = [19.119,72.9145]
      zoom_level = 14
    }
    else if(ward == '122_plastic'){  
      layer = "WARD-S:ward_122_building_collecting_plastic"
      currentPos = [19.119,72.9145]
      zoom_level = 14
    }
    else if(ward == 'buildings'){    
      layer = "WARD-S:buildings"  
      currentPos = [19.119,72.9145]
      zoom_level = 14
    }
    else if(ward == 'zones'){    
      layer = "WARD-S:zones"
      currentPos = [19.119,72.9145]
      zoom_level = 14
    }
    else if(ward == 'bubbles'){    
      layer = "WARD-S:bubbles"   
      currentPos = [19.119,72.9145]
      zoom_level = 14
    }
    else if(ward == 'Lwardroads'){    
      layer = "geonode:osm_lward_roads_03Apr2020"
      currentPos = [19.094,72.8737]
      zoom_level = 14
     }
    else if(ward == 'Lzones'){    
      layer = "geonode:l_ward_15may" 
      currentPos = [19.094,72.8737]
      zoom_level = 14 
     }
    else if(ward == 'Lbuildings'){    
      layer = "geonode:raheja_lward_swm_5nov19"
      currentPos = [19.094,72.8737]
      zoom_level = 14 
    }
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: layer,
        format: 'image/png',
        transparent: 'true',
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);
    // console.log(newLayerList);
    mymap.setView(currentPos,zoom_level)  
    // console.log(wms_layer);
    addWMSLegend(layer);
       
    if (wms_legend) {
      mymap.removeControl(wms_legend);
    }
    addWMSLegend(layer);
}

//to remove unchecked layer
function removeWards1(opt) {
  // alert("In remove Wards"+opt);
console.log(newLayerList);
newLayerList.forEach(layer => mymap.removeLayer(layer));
}

function removeWards(opt) {
  //  alert("In remove Wards"+opt);
  console.log(opt);
  // var a = "ward_name="+"'"+opt+"'";
  var a = "Name="+"'"+opt+"'";
  console.log(a);
  
  newLayerList.forEach((layer, index) => {
    if (layer.options.cql_filter === a) {
        mymap.removeLayer(layer);
        newLayerList.splice(index, 1);
    }
    // mymap.removeLayer(layer);
  });

}

// var wards = ["A","B","C","D"];
//this function is for facilities
function putFacility(opt) {
  var ward = document.getElementById('ward').value;
  var checks = $('input[type="checkbox"]:checked').map(function() {

    return $(this).val();
  }).get()
  console.log(checks);
  var newchecks = $('input[type="checkbox"]:checked').val();
  $('input[type=checkbox]:checked').each(function () {
  var status = (this.checked ? $(this).val() : "");
  var id = $(this).attr("value");
  $('#output').append("<h3>" + id  + "</h3>");
  // console.log(document.getElementById('output'));
  // console.log(id);
  //  return id;         
  });
  // console.log(document.getElementById('output').textContent);
  var checkedWard = document.getElementById('output').innerText;
  var text = $('#output').text();
  // console.log(text);
  $('#output').each(function () {
  var text1 = document.getElementById('output').innerText;
  var ward = ["A","B","C","D","E","FS","FN","GN","GS"];
  // console.log(text1.length);

  for(var i=0; i<ward.length; i++) {
    if(text1.includes(ward[i])) {
      console.log(ward[i]);
      var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
                          layers: 'geonode:island_city_revised_2_july',
                          format: 'image/png',
                          
                          transparent: 'true',
                          cql_filter: `layer_name='${opt}' AND ward_name='${ward[i]}'`,
                          // cql_filter: `layer_name='${opt}'`,                                        
                          // cql_filter: `district_n=${district}`,                                        
                      });
                      wms_layer.addTo(mymap);
                      newLayerList.push(wms_layer);

                      // if (wms_legend) {
                      //     mymap.removeControl(wms_legend);
                      // }
                //       if (wms_legend) {
                //     mymap.removeControl(wms_legend);
                // }
                // addWMSLegend(wms_layer);
                      console.log(wms_layer);
    }  
  }

});
  var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
          layers: 'geonode:island_city_revised_2_july',
          format: 'image/png',
          
          transparent: 'true',
          cql_filter: `layer_name='${opt}' AND ward_name='${newchecks}'`,
          // cql_filter: `layer_name='${opt}'`,                                        
          // cql_filter: `district_n=${district}`,                                        
      });
      wms_layer.addTo(mymap);
      newLayerList.push(wms_layer);
      console.log(wms_layer);
     
  }
  //buildings
function putFacility1(opt) {
    // var ward = document.getElementById("ward").value;
    // var district = document.getElementById("district").value;
    console.log(opt);
    console.log(ward);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: 'geonode:osm_building_islandcity_14june',
        format: 'image/png',
        
        transparent: 'true',
        // cql_filter: `layer_name='${opt}' AND ward_name='${ward}'`,
        // cql_filter: `layer_name='${opt}'`,                                        
        // cql_filter: `district_n=${district}`,                                        
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);

    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);
    //console.log(wms_legend); 
    // addWMSLegend(layer);
    // TRIBLAYER = "https://geoserver2.communitygis.net/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;
    // // console.log(TRIBLAYER);

}

//roads
function putFacility2(opt) {
    // var ward = document.getElementById("ward").value;
    // var district = document.getElementById("district").value;
    console.log(opt);
    console.log(ward);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: 'geonode:osm_road_islandcity_14june',
        format: 'image/png',
        
        transparent: 'true',
        // cql_filter: `layer_name='${opt}' AND ward_name='${ward}'`,
        // cql_filter: `layer_name='${opt}'`,                                        
        // cql_filter: `district_n=${district}`,                                        
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);

    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);
    //console.log(wms_legend); 
    // addWMSLegend(layer);
    // TRIBLAYER = "https://geoserver2.communitygis.net/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;
    // // console.log(TRIBLAYER);

}

//for mumbai corporator ward boundaries
function putCorpWards(opt) {
    // var ward = document.getElementById("ward").value;
    // var district = document.getElementById("district").value;
    console.log(opt);
    console.log(ward);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: 'geonode:corporatorwardboundary_mumbai_13may',
        format: 'image/png',
        
        transparent: 'true',
        // cql_filter: "district= Mumbai City",
        // cql_filter: `layer_name='${opt}' AND ward_name='${ward}'`,
        // cql_filter: `layer_name='${opt}'`,                                        
        // cql_filter: `district_n=${district}`,                                        
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);

    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);
    //console.log(wms_legend); 
    // addWMSLegend(layer);
    // TRIBLAYER = "https://geoserver2.communitygis.net/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;
    // // console.log(TRIBLAYER);

}



//for mumbai admin ward boundaries
function putAdminWards(opt) {
    // var ward = document.getElementById("ward").value;
    // var district = document.getElementById("district").value;
    console.log(opt);
    console.log(ward);
    var wms_layer = L.tileLayer.wms('https://geoserver2.communitygis.net/geoserver/wms', {
        layers: 'geonode:mumbai_ward_boundary',
        format: 'image/png',
        
        transparent: 'true',
        // cql_filter: "district='" + opt + "'",
        // cql_filter: `layer_name='${opt}' AND ward_name='${ward}'`,
        // cql_filter: `layer_name='${opt}'`,                                        
        // cql_filter: `district_n=${district}`,                                        
    });
    wms_layer.addTo(mymap);
    newLayerList.push(wms_layer);

    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
    console.log(wms_layer);
    //console.log(wms_legend); 
    // addWMSLegend(layer);
    // TRIBLAYER = "https://geoserver2.communitygis.net/geoserver/geonode/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetFeatureInfo&LAYERS=" + wms_layer.options.layers + "&QUERY_LAYERS=" + wms_layer.options.layers;
    // // console.log(TRIBLAYER);

}




function addWMSLegend(layer) {
    lagendGraphic = "https://geoserver2.communitygis.net/geoserver/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=" + layer + "&LEGEND_OPTIONS=forceLabels:on";
    wms_legend = L.wmsLegend(lagendGraphic);
}

function removeFacility(layer_name) {
    // if (wms_legend) {
    //     mymap.removeControl(wms_legend);
    // }
  
    $('#output').each(function () {
      var text1 = document.getElementById('output').innerText;

      var ward = ["A","B","C","D","E","FN","FS","GN","GS"];
    console.log(layer_name);
    for (var i=0; i<ward.length; i++) {
      if (text1.includes(ward[i])){
    var a = "layer_name="+"'"+layer_name+"'"+" AND "+"ward_name="+"'"+ward[i]+"'";
    console.log(a);
    newLayerList.forEach((layer, index) => {
        if (layer.options.cql_filter === a) {
            mymap.removeLayer(layer);
            // newLayerList.splice(index, 1);
        }
    });
  }
  else {
    var a = "layer_name="+"'"+layer_name+"'";
    console.log(a);
    newLayerList.forEach((layer, index) => {
        if (layer.options.cql_filter === a) {
            mymap.removeLayer(layer);
            // newLayerList.splice(index, 1);
        }
    });
  }
}
});
}

function removeLayer(unchecked_layer) {
  
//   for(var i = 0; i < newLayerList.length ; i++){
//     console.log("ARRAY LIST" + newLayerList[i.value])
// }
  newLayerList.forEach((layer, index) => {
    console.log("newlayerlist :"+ layer.options.layers+":"+index)
  if (layer.options.layers === unchecked_layer) {
      mymap.removeLayer(layer);
      
      newLayerList.splice(index, 1);
      // mymap.removeControl(wmsLegend);
  } 
  if (wms_legend) {
    mymap.removeControl(wms_legend);
  }
  
  });
}

function remove(opt){
  console.log(opt);
  console.log(newLayerList[opt]);
  mymap.removeLayer(newLayerList[opt]);
  remove(opt);
}

</script>

{% endblock %}              

